.slider {
  padding: 49px 0 60px;
  position: relative;

  &--bg-blue {
    background: $blue;
    color: $white;
  }

  &--bg-white {
    background: $lightblue;
    color: $black;
  }

  &__heading {
    font-size: 40px;
    text-align: center;
    margin: 0 0 5px 0;
    font-weight: 300;
    line-height: 1.3;
  }

  &__subheading {
    font-size: 20px;
    text-align: center;
    margin: 0 0 24px 0;
    font-weight: 300;
    line-height: 1;
  }

  &__subtitle {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.6;
    margin: 0 0 40px 0;

    p {
      margin: 0;
    }
  }

  &__slide {
    background: $white;
    padding: 36px 27px 36px 27px;
    text-align: center;
    margin: 0 10px;

    @media (min-width: 1210px) {
      padding-bottom: 73px;
    }
  }

  &__slide-title {
    color: $black;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 12px;
    margin-top: 0;
  }

  &__slide-subtitle {
    font-size: 15px;
    line-height: 1.6;
    color: $gray;
    margin-bottom: 12px;

    p {
      margin: 0;
    }
  }

  &__slide-icon {
    max-width: 50px;
    max-height: 50px;
    margin: 0 auto;
  }

  &__holder {
    position: relative;
  }

  &__slides {
    padding: 0 60px;
  }

  &__buttons {
    button {
      width: 48px;
      height: 48px;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      transition: 0.3s ease-in-out;
      border: 0;
      padding: 0;
      background: transparent;

      &.left-arrow {
        left: 0;
      }

      &.right-arrow {
        right: 0;
      }

      &:hover {
        background: rgba($white, 0.05);
      }
    }
  }

  & + .slider {
    &::before {
      content: "";
      display: block;
      width: 32px;
      height: 32px;
      background: $magenta;
      border-radius: 100%;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 0;
      transform: translateY(-50%);
    }
  }
}
